<html>
    <head>
        <script src="/js/functions.js"></script>
    </head>
<body style="background-color: darkgrey;" onload="writedate()">
    <h1> Please Login </h1>
    <div style="align-items: center;">
        <form action="/dash" method="post" id='form'>
        <input type="text" name="username" value="1" length='20'> </input>
        <input type="password" name="password" value="1" length='20'> </input>
         <input type="text" name="colorchoice" value="{{colorchoice}}" length='20'> </input>
        <button type="submit">Login</button>
    </form>
    <div id="date">
    </div>
</div>    
</body>
</html>